@keyframes growShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* 5% growth */
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes sharpWiggle {
    0%, 10% {
      transform: rotate(0deg);
    }
    13%, 17% {
      transform: rotate(3deg);
    }
    15%, 19% {
      transform: rotate(-3deg);
    }
    22%, 100% {
      transform: rotate(0deg);
    }
  }
  
  .animate-wiggle {
    animation: sharpWiggle 5.5s ease-in-out infinite;
  }
  
  .animate-grow-shrink {
    animation: growShrink 4s infinite;
  }

  .animate-wiggle {
    animation: sharpWiggle 5s ease-in-out 3s infinite;
  }