  @keyframes sharpWiggle {
    0%, 10% {
      transform: rotate(0deg);
    }
    13%, 17% {
      transform: rotate(2deg);
    }
    15%, 19% {
      transform: rotate(-2deg);
    }
    22%, 100% {
      transform: rotate(0deg);
    }
  }
  
  .animate-wiggle {
    animation: sharpWiggle 5.5s ease-in-out infinite;
  }